# Build outputs
build/
bin/

# Runtime outputs
output/*.mp4
output/*.h264
output/*.264
output/*.log

# Editor / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Object / binary files
*.o
*.a
*.so
*.out

# Core dumps
core
core.*

# doc
docs/architecture/
docs/capture/
docs/converter/
docs/ffmpeg/
docs/linux/
docs/modules/
docs/processor/
docs/project/
docs/viewer/
docs/ffmpeg/

# Temporary files
*.tmp
*.bak